.gridTemplate {
	display: grid;
	grid-gap: 1rem;
	grid-template-areas:
		"head head head"
		"body body sidebar"
		"foot foot foot"
	;
}

.gridArea--head {
	grid-area: head;
}

.gridArea--body {
	grid-area: body;
}

.gridArea--sidebar {
	grid-area: sidebar;
}

.gridArea--foot {
	grid-area: foot;
}

